
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">

                <li>
                {range name="$Request.param.sa" value="index" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>全局配置</span></a>
                {else /}
                    <a href="{:weapp_url("Minipro0001/Minipro0001/index")}" class="tab"><span>全局配置</span></a>
                {/range}
                </li>

                <li>
                {range name="$Request.param.sa" value="homeConf" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>首页配置</span></a>
                {else /}
                    <a href="{:weapp_url("Minipro0001/Minipro0001/homeConf")}" class="tab"><span>首页配置</span></a>
                {/range}
                </li>

                <li>
                {range name="$Request.param.sa" value="aboutConf" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>联系我们</span></a>
                {else /}
                    <a href="{:weapp_url("Minipro0001/Minipro0001/aboutConf")}" class="tab"><span>联系我们</span></a>
                {/range}
                </li>

                <li>
                {eq name="$Request.param.sa" value="setting"}
                    <a href="javascript:void(0);" class="tab current"><span>生成小程序</span></a>
                {else /}
                    <a href="{:weapp_url("Minipro0001/Minipro0001/setting")}" class="tab"><span>生成小程序</span></a>
                {/eq}
                </li>

                <li>
                {eq name="$Request.param.sa" value="doc"}
                    <a href="javascript:void(0);" class="tab current"><span>使用指南</span></a>
                {else /}
                    <a href="{:weapp_url("Minipro0001/Minipro0001/doc")}" class="tab"><span>使用指南</span></a>
                {/eq}
                </li>
            </ul>
        </div>
    </div>