{include file="header.htm" /}

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>在生成小程序之前，先填写这里的内容，可快速通过微信官方审核。</li>
        </ul>
    </div>
    <form class="form-horizontal" id="post_form" action="{:weapp_url('Minipro0001/Minipro0001/homeConf')}" method="post">
        <div class="ncap-form-default">
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块一</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">幻灯片显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="swipers_show1" class="cb-enable {if condition='!isset($row.swipers.show) OR $row.swipers.show eq 1'}selected{/if}">是</label>
                        <label for="swipers_show0" class="cb-disable {if condition='isset($row.swipers.show) AND empty($row.swipers.show)'}selected{/if}">否</label>
                        <input id="swipers_show1" name="swipers[show]" value="1" type="radio" {if condition="!isset($row.swipers.show) OR $row.swipers.show eq 1"} checked="checked"{/if}>
                        <input id="swipers_show0" name="swipers[show]" value="0" type="radio" {if condition="isset($row.swipers.show) AND empty($row.swipers.show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">有封面文档ID</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="swipers[aid]" value="{$row.swipers.aid|default=''}" placeholder="比如：1,2,3,4" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9,]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9,]/g,''));">
                    <span class="err"></span>
                    <p class="notic">多个文档ID用英文逗号隔开</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块二</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">栏目一显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="cate_m1_show1" class="cb-enable {if condition='!isset($row.cate.m1_show) OR $row.cate.m1_show eq 1'}selected{/if}">是</label>
                        <label for="cate_m1_show0" class="cb-disable {if condition='isset($row.cate.m1_show) AND empty($row.cate.m1_show)'}selected{/if}">否</label>
                        <input id="cate_m1_show1" name="cate[m1_show]" value="1" type="radio" {if condition="!isset($row.cate.m1_show) OR $row.cate.m1_show eq 1"} checked="checked"{/if}>
                        <input id="cate_m1_show0" name="cate[m1_show]" value="0" type="radio" {if condition="isset($row.cate.m1_show) AND empty($row.cate.m1_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目一名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="cate[m1_name]" value="{$row.cate.m1_name|default=''}" id="cate_m1_name" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目一链接</label>
                </dt>
                <dd class="opt">
                    <select id="cate_m1_path_key" name="cate[m1_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.cate.m1_path_key) AND $row.cate.m1_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="cate[m1_typeid]" value="{$row.cate.m1_typeid|default=''}" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m1_img">栏目一默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_cate_m1_img_local" {if condition="isset($row.cate.m1_img_is_remote) AND $row.cate.m1_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_cate_m1_img" class="nyroModal" rel="gal" href="{$row.cate.m1_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_cate_m1_img" class="fa fa-picture-o" {notempty name="$row.cate.m1_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.cate.m1_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="cate_m1_img_local" name="cate[m1_img_local]" value="{$row.cate.m1_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','cate_m1_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m1_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="cate_m1_img_remote" name="cate[m1_img_remote]" value="{$row.cate.m1_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.cate.m1_img_is_remote) OR empty($row.cate.m1_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="cate[m1_img_is_remote]" id="cate_m1_img_is_remote" value="1" {if condition="isset($row.cate.m1_img_is_remote) AND $row.cate.m1_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'cate_m1_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 100*100 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">栏目二显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="cate_m2_show1" class="cb-enable {if condition='!isset($row.cate.m2_show) OR $row.cate.m2_show eq 1'}selected{/if}">是</label>
                        <label for="cate_m2_show0" class="cb-disable {if condition='isset($row.cate.m2_show) AND empty($row.cate.m2_show)'}selected{/if}">否</label>
                        <input id="cate_m2_show1" name="cate[m2_show]" value="1" type="radio" {if condition="!isset($row.cate.m2_show) OR $row.cate.m2_show eq 1"} checked="checked"{/if}>
                        <input id="cate_m2_show0" name="cate[m2_show]" value="0" type="radio" {if condition="isset($row.cate.m2_show) AND empty($row.cate.m2_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目二名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="cate[m2_name]" value="{$row.cate.m2_name|default=''}" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目二链接</label>
                </dt>
                <dd class="opt">
                    <select id="cate_m2_path_key" name="cate[m2_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.cate.m2_path_key) AND $row.cate.m2_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="cate[m2_typeid]" value="{$row.cate.m2_typeid|default=''}" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m2_img">栏目二默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_cate_m2_img_local" {if condition="isset($row.cate.m2_img_is_remote) AND $row.cate.m2_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_cate_m2_img" class="nyroModal" rel="gal" href="{$row.cate.m2_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_cate_m2_img" class="fa fa-picture-o" {notempty name="$row.cate.m2_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.cate.m2_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="cate_m2_img_local" name="cate[m2_img_local]" value="{$row.cate.m2_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','cate_m2_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m2_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="cate_m2_img_remote" name="cate[m2_img_remote]" value="{$row.cate.m2_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.cate.m2_img_is_remote) OR empty($row.cate.m2_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="cate[m2_img_is_remote]" id="cate_m2_img_is_remote" value="1" {if condition="isset($row.cate.m2_img_is_remote) AND $row.cate.m2_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'cate_m2_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 100*100 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">栏目三显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="cate_m3_show1" class="cb-enable {if condition='!isset($row.cate.m3_show) OR $row.cate.m3_show eq 1'}selected{/if}">是</label>
                        <label for="cate_m3_show0" class="cb-disable {if condition='isset($row.cate.m3_show) AND empty($row.cate.m3_show)'}selected{/if}">否</label>
                        <input id="cate_m3_show1" name="cate[m3_show]" value="1" type="radio" {if condition="!isset($row.cate.m3_show) OR $row.cate.m3_show eq 1"} checked="checked"{/if}>
                        <input id="cate_m3_show0" name="cate[m3_show]" value="0" type="radio" {if condition="isset($row.cate.m3_show) AND empty($row.cate.m3_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目三名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="cate[m3_name]" value="{$row.cate.m3_name|default=''}" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目三链接</label>
                </dt>
                <dd class="opt">
                    <select id="cate_m3_path_key" name="cate[m3_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.cate.m3_path_key) AND $row.cate.m3_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="cate[m3_typeid]" value="{$row.cate.m3_typeid|default=''}" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m3_img">栏目三默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_cate_m3_img_local" {if condition="isset($row.cate.m3_img_is_remote) AND $row.cate.m3_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_cate_m3_img" class="nyroModal" rel="gal" href="{$row.cate.m3_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_cate_m3_img" class="fa fa-picture-o" {notempty name="$row.cate.m3_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.cate.m3_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="cate_m3_img_local" name="cate[m3_img_local]" value="{$row.cate.m3_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','cate_m3_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m3_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="cate_m3_img_remote" name="cate[m3_img_remote]" value="{$row.cate.m3_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.cate.m3_img_is_remote) OR empty($row.cate.m3_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="cate[m3_img_is_remote]" id="cate_m3_img_is_remote" value="1" {if condition="isset($row.cate.m3_img_is_remote) AND $row.cate.m3_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'cate_m3_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 100*100 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">栏目四显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="cate_m4_show1" class="cb-enable {if condition='!isset($row.cate.m4_show) OR $row.cate.m4_show eq 1'}selected{/if}">是</label>
                        <label for="cate_m4_show0" class="cb-disable {if condition='isset($row.cate.m4_show) AND empty($row.cate.m4_show)'}selected{/if}">否</label>
                        <input id="cate_m4_show1" name="cate[m4_show]" value="1" type="radio" {if condition="!isset($row.cate.m4_show) OR $row.cate.m4_show eq 1"} checked="checked"{/if}>
                        <input id="cate_m4_show0" name="cate[m4_show]" value="0" type="radio" {if condition="isset($row.cate.m4_show) AND empty($row.cate.m4_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目四名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="cate[m4_name]" value="{$row.cate.m4_name|default=''}" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目四链接</label>
                </dt>
                <dd class="opt">
                    <select id="cate_m4_path_key" name="cate[m4_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.cate.m4_path_key) AND $row.cate.m4_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="cate[m4_typeid]" value="{$row.cate.m4_typeid|default=''}" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m4_img">栏目四默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_cate_m4_img_local" {if condition="isset($row.cate.m4_img_is_remote) AND $row.cate.m4_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_cate_m4_img" class="nyroModal" rel="gal" href="{$row.cate.m4_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_cate_m4_img" class="fa fa-picture-o" {notempty name="$row.cate.m4_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.cate.m4_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="cate_m4_img_local" name="cate[m4_img_local]" value="{$row.cate.m4_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','cate_m4_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m4_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="cate_m4_img_remote" name="cate[m4_img_remote]" value="{$row.cate.m4_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.cate.m4_img_is_remote) OR empty($row.cate.m4_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="cate[m4_img_is_remote]" id="cate_m4_img_is_remote" value="1" {if condition="isset($row.cate.m4_img_is_remote) AND $row.cate.m4_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'cate_m4_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 100*100 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块三</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">公告显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="notice_show1" class="cb-enable {if condition='!isset($row.notice.show) OR $row.notice.show eq 1'}selected{/if}">是</label>
                        <label for="notice_show0" class="cb-disable {if condition='isset($row.notice.show) AND empty($row.notice.show)'}selected{/if}">否</label>
                        <input id="notice_show1" name="notice[show]" value="1" type="radio" {if condition="!isset($row.notice.show) OR $row.notice.show eq 1"} checked="checked"{/if}>
                        <input id="notice_show0" name="notice[show]" value="0" type="radio" {if condition="isset($row.notice.show) AND empty($row.notice.show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="notice_icon">公告图标</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_notice_icon_img_local" {if condition="isset($row.notice.icon_img_is_remote) AND $row.notice.icon_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_notice_icon_img" class="nyroModal" rel="gal" href="{$row.notice.icon_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_notice_icon_img" class="fa fa-picture-o" {notempty name="$row.notice.icon_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.notice.icon_img_local|default=''} width=32 height=32>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="notice_icon_img_local" name="notice[icon_img_local]" value="{$row.notice.icon_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','notice_icon_img_call_back')" size="30" hidefocus="true" nc_type="change_site_notice_icon" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="notice_icon_img_remote" name="notice[icon_img_remote]" value="{$row.notice.icon_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.notice.icon_img_is_remote) OR empty($row.notice.icon_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="notice[icon_img_is_remote]" id="notice_icon_img_is_remote" value="1" {if condition="isset($row.notice.icon_img_is_remote) AND $row.notice.icon_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'notice_icon_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 32*32 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">公告内容</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="notice[title]" value="{$row.notice.title|default=''}" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块四</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">视频显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="video_show1" class="cb-enable {if condition='!isset($row.video.show) OR $row.video.show eq 1'}selected{/if}">是</label>
                        <label for="video_show0" class="cb-disable {if condition='isset($row.video.show) AND empty($row.video.show)'}selected{/if}">否</label>
                        <input id="video_show1" name="video[show]" value="1" type="radio" {if condition="!isset($row.video.show) OR $row.video.show eq 1"} checked="checked"{/if}>
                        <input id="video_show0" name="video[show]" value="0" type="radio" {if condition="isset($row.video.show) AND empty($row.video.show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">视频名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="video[title]" value="{$row.video.title|default='视频专区'}" placeholder="" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="video_v_img">视频封面</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_video_v_img_local" {if condition="isset($row.video.v_img_is_remote) AND $row.video.v_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_video_v_img" class="nyroModal" rel="gal" href="{$row.video.v_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_video_v_img" class="fa fa-picture-o" {notempty name="$row.video.v_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.video.v_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="video_v_img_local" name="video[v_img_local]" value="{$row.video.v_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','video_v_img_call_back')" size="30" hidefocus="true" nc_type="change_site_video_v_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="video_v_img_remote" name="video[v_img_remote]" value="{$row.video.v_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.video.v_img_is_remote) OR empty($row.video.v_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="video[v_img_is_remote]" id="video_v_img_is_remote" value="1" {if condition="isset($row.video.v_img_is_remote) AND $row.video.v_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'video_v_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 100*100 (像素) 的gif或jpg文件，图片最好在1M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">视频链接</label>
                </dt>
                <dd class="opt">
                    <textarea rows="5" cols="60" name="video[src]" style="height:80px;" placeholder="请输入MP4链接地址">{$row.video.src|default=''}</textarea>
                    <span class="err"></span>
                    <p class="notic">请输入MP4链接地址</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块五</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">图文显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="images_show1" class="cb-enable {if condition='!isset($row.images.show) OR $row.images.show eq 1'}selected{/if}">是</label>
                        <label for="images_show0" class="cb-disable {if condition='isset($row.images.show) AND empty($row.images.show)'}selected{/if}">否</label>
                        <input id="images_show1" name="images[show]" value="1" type="radio" {if condition="!isset($row.images.show) OR $row.images.show eq 1"} checked="checked"{/if}>
                        <input id="images_show0" name="images[show]" value="0" type="radio" {if condition="isset($row.images.show) AND empty($row.images.show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">图文名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="images[title]" value="{$row.images.title|default='案例展示'}" placeholder="" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目ID</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="images[typeid]" value="{$row.images.typeid|default=''}" placeholder="比如：1,2,3,4" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9,]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9,]/g,''));">
                    <span class="err"></span>
                    <p class="notic">这里显示文档的栏目ID，多个栏目ID用英文逗号隔开</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">显示数量</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="images[num]" value="{$row.images.num|default='4'}" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">MORE链接</label>
                </dt>
                <dd class="opt">
                    <select id="images_more_path_key" name="images[more_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.images.more_path_key) AND $row.images.more_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="images[more_typeid]" value="{$row.images.more_typeid|default=''}" placeholder="栏目ID" style="width: 150px;" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>模块六</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">列表显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="article_show1" class="cb-enable {if condition='!isset($row.article.show) OR $row.article.show eq 1'}selected{/if}">是</label>
                        <label for="article_show0" class="cb-disable {if condition='isset($row.article.show) AND empty($row.article.show)'}selected{/if}">否</label>
                        <input id="article_show1" name="article[show]" value="1" type="radio" {if condition="!isset($row.article.show) OR $row.article.show eq 1"} checked="checked"{/if}>
                        <input id="article_show0" name="article[show]" value="0" type="radio" {if condition="isset($row.article.show) AND empty($row.article.show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">列表名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="article[title]" value="{$row.article.title|default='新闻中心'}" placeholder="" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">栏目ID</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="article[typeid]" value="{$row.article.typeid|default=''}" placeholder="比如：1,2,3,4" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9,]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9,]/g,''));">
                    <span class="err"></span>
                    <p class="notic">这里显示文档的栏目ID，多个栏目ID用英文逗号隔开</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">显示数量</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="article[num]" value="{$row.article.num|default='4'}" class="input-txt" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">MORE链接</label>
                </dt>
                <dd class="opt">
                    <select id="article_more_path_key" name="article[more_path_key]" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row.article.more_path_key) AND $row.article.more_path_key == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="article[more_typeid]" value="{$row.article.more_typeid|default=''}" placeholder="栏目ID" style="width: 150px;" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        select_path($('#cate_m1_path_key'));
        select_path($('#cate_m2_path_key'));
        select_path($('#cate_m3_path_key'));
        select_path($('#cate_m4_path_key'));
        select_path($('#images_more_path_key'));
        select_path($('#article_more_path_key'));
    });

    // 菜单链接
    function select_path(obj)
    {
        var pathkey = $(obj).val();
        var showtext = $(obj).find('option:selected').data('showtext');
        var showtextObj = $(obj).parent().find('input[type=text]');
        if (true == showtext) {
            if (5 == pathkey) {
                showtextObj.attr('placeholder', '文档ID');
            } else {
                showtextObj.attr('placeholder', '栏目ID');
            }
            showtextObj.show();
        } else {
            showtextObj.hide();
        }
    }

    // 判断输入框是否为空
    function checkForm(){
        layer_loading('正在处理');
        $('#post_form').submit();
    }

    function notice_icon_img_call_back(fileurl_tmp)
    {
        $("#notice_icon_img_local").val(fileurl_tmp);
        $("#img_a_notice_icon_img").attr('href', fileurl_tmp);
        $("#img_i_notice_icon_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" width=32 height=32>',this,{tips: [1, '#fff']});");
    }

    function video_v_img_call_back(fileurl_tmp)
    {
        $("#video_v_img_local").val(fileurl_tmp);
        $("#img_a_video_v_img").attr('href', fileurl_tmp);
        $("#img_i_video_v_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function cate_m1_img_call_back(fileurl_tmp)
    {
        $("#cate_m1_img_local").val(fileurl_tmp);
        $("#img_a_cate_m1_img").attr('href', fileurl_tmp);
        $("#img_i_cate_m1_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function cate_m2_img_call_back(fileurl_tmp)
    {
        $("#cate_m2_img_local").val(fileurl_tmp);
        $("#img_a_cate_m2_img").attr('href', fileurl_tmp);
        $("#img_i_cate_m2_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function cate_m3_img_call_back(fileurl_tmp)
    {
        $("#cate_m3_img_local").val(fileurl_tmp);
        $("#img_a_cate_m3_img").attr('href', fileurl_tmp);
        $("#img_i_cate_m3_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }
    
    function cate_m4_img_call_back(fileurl_tmp)
    {
        $("#cate_m4_img_local").val(fileurl_tmp);
        $("#img_a_cate_m4_img").attr('href', fileurl_tmp);
        $("#img_i_cate_m4_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }
</script>

{include file="footer.htm" /}