{include file="header.htm" /}

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>在生成小程序之前，先填写这里的内容，可快速通过微信官方审核。</li>
        </ul>
    </div>
    <form class="form-horizontal" id="post_form" action="{:weapp_url('Minipro0001/Minipro0001/index')}" method="post">
        <div class="ncap-form-default">
            <dl class="row"><dt class="tit" style="width: auto"><label><b>常规配置</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">全局前景色</label>
                </dt>
                <dd class="opt">
                    <input type="color" style="width: 20px; height: 20px;" name="sel_color" value="{$row.sel_color|default=''}"  />
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单字体颜色</label>
                </dt>
                <dd class="opt">
                    <input type="color" style="width: 20px; height: 20px;" name="menu_color" value="{$row.menu_color|default=''}"  />
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">顶部标题文本</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="nav_title" value="{$row.nav_title|default=''}" id="nav_title" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">顶部标题颜色</label>
                </dt>
                <dd class="opt">
                    <label><input type="radio" value="#ffffff" name="front_color" {if condition="'#ffffff' == $row['front_color'] || '#ffffff' == $row['front_color']"}checked="checked"{/if} /> 白色</label>&nbsp;
                    <label><input type="radio" value="#000000" name="front_color" {if condition="'#000000' == $row['front_color'] || '#000000' == $row['front_color']"}checked="checked"{/if} /> 黑色</label>&nbsp;
                    <span class="err"></span>
                    <p class="notic"></p>
                    <p>小程序官方只支持黑、白两种颜色</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>底部菜单一</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">菜单一显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="m1_show1" class="cb-enable {if condition='!isset($row.m1_show) OR $row.m1_show eq 1'}selected{/if}">是</label>
                        <label for="m1_show0" class="cb-disable {if condition='isset($row.m1_show) AND empty($row.m1_show)'}selected{/if}">否</label>
                        <input id="m1_show1" name="m1_show" value="1" type="radio" {if condition="!isset($row.m1_show) OR $row.m1_show eq 1"} checked="checked"{/if}>
                        <input id="m1_show0" name="m1_show" value="0" type="radio" {if condition="isset($row.m1_show) AND empty($row.m1_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单一名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="m1_name" value="{$row.m1_name|default=''}" id="m1_name" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单一链接</label>
                </dt>
                <dd class="opt">
                    <select id="m1_path_key" name="m1_path_key" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row['m1_path_key']) AND $row['m1_path_key'] == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="m1_typeid" value="{$row.m1_typeid|default=''}" id="m1_typeid" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m1_img">菜单一默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m1_img_local" {if condition="isset($row.m1_img_is_remote) AND $row.m1_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m1_img" class="nyroModal" rel="gal" href="{$row.m1_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m1_img" class="fa fa-picture-o" {notempty name="$row.m1_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m1_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m1_img_local" name="m1_img_local" value="{$row.m1_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m1_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m1_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m1_img_remote" name="m1_img_remote" value="{$row.m1_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m1_img_is_remote) OR empty($row.m1_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m1_img_is_remote" id="m1_img_is_remote" value="1" {if condition="isset($row.m1_img_is_remote) AND $row.m1_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm1_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m1_selimg">菜单一选中图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m1_selimg_local" {if condition="isset($row.m1_selimg_is_remote) AND $row.m1_selimg_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m1_selimg" class="nyroModal" rel="gal" href="{$row.m1_selimg_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m1_selimg" class="fa fa-picture-o" {notempty name="$row.m1_selimg_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m1_selimg_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m1_selimg_local" name="m1_selimg_local" value="{$row.m1_selimg_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m1_selimg_call_back')" size="30" hidefocus="true" nc_type="change_site_m1_selimg" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m1_selimg_remote" name="m1_selimg_remote" value="{$row.m1_selimg_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m1_selimg_is_remote) OR empty($row.m1_selimg_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m1_selimg_is_remote" id="m1_selimg_is_remote" value="1" {if condition="isset($row.m1_selimg_is_remote) AND $row.m1_selimg_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm1_selimg');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>底部菜单二</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">菜单二显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="m2_show1" class="cb-enable {if condition='!isset($row.m2_show) OR $row.m2_show eq 1'}selected{/if}">是</label>
                        <label for="m2_show0" class="cb-disable {if condition='isset($row.m2_show) AND empty($row.m2_show)'}selected{/if}">否</label>
                        <input id="m2_show1" name="m2_show" value="1" type="radio" {if condition="!isset($row.m2_show) OR $row.m2_show eq 1"} checked="checked"{/if}>
                        <input id="m2_show0" name="m2_show" value="0" type="radio" {if condition="isset($row.m2_show) AND empty($row.m2_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单二名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="m2_name" value="{$row.m2_name|default=''}" id="m2_name" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单二链接</label>
                </dt>
                <dd class="opt">
                    <select id="m2_path_key" name="m2_path_key" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row['m2_path_key']) AND $row['m2_path_key'] == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="m2_typeid" value="{$row.m2_typeid|default=''}" id="m2_typeid" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m2_img">菜单二默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m2_img_local" {if condition="isset($row.m2_img_is_remote) AND $row.m2_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m2_img" class="nyroModal" rel="gal" href="{$row.m2_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m2_img" class="fa fa-picture-o" {notempty name="$row.m2_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m2_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m2_img_local" name="m2_img_local" value="{$row.m2_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m2_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m2_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m2_img_remote" name="m2_img_remote" value="{$row.m2_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m2_img_is_remote) OR empty($row.m2_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m2_img_is_remote" id="m2_img_is_remote" value="1" {if condition="isset($row.m2_img_is_remote) AND $row.m2_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm2_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m2_selimg">菜单二选中图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m2_selimg_local" {if condition="isset($row.m2_selimg_is_remote) AND $row.m2_selimg_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m2_selimg" class="nyroModal" rel="gal" href="{$row.m2_selimg_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m2_selimg" class="fa fa-picture-o" {notempty name="$row.m2_selimg_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m2_selimg_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m2_selimg_local" name="m2_selimg_local" value="{$row.m2_selimg_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m2_selimg_call_back')" size="30" hidefocus="true" nc_type="change_site_m2_selimg" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m2_selimg_remote" name="m2_selimg_remote" value="{$row.m2_selimg_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m2_selimg_is_remote) OR empty($row.m2_selimg_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m2_selimg_is_remote" id="m2_selimg_is_remote" value="1" {if condition="isset($row.m2_selimg_is_remote) AND $row.m2_selimg_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm2_selimg');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>底部菜单三</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">菜单三显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="m3_show1" class="cb-enable {if condition='!isset($row.m3_show) OR $row.m3_show eq 1'}selected{/if}">是</label>
                        <label for="m3_show0" class="cb-disable {if condition='isset($row.m3_show) AND empty($row.m3_show)'}selected{/if}">否</label>
                        <input id="m3_show1" name="m3_show" value="1" type="radio" {if condition="!isset($row.m3_show) OR $row.m3_show eq 1"} checked="checked"{/if}>
                        <input id="m3_show0" name="m3_show" value="0" type="radio" {if condition="isset($row.m3_show) AND empty($row.m3_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单三名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="m3_name" value="{$row.m3_name|default=''}" id="m3_name" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单三链接</label>
                </dt>
                <dd class="opt">
                    <select id="m3_path_key" name="m3_path_key" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row['m3_path_key']) AND $row['m3_path_key'] == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="m3_typeid" value="{$row.m3_typeid|default=''}" id="m3_typeid" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m3_img">菜单三默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m3_img_local" {if condition="isset($row.m3_img_is_remote) AND $row.m3_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m3_img" class="nyroModal" rel="gal" href="{$row.m3_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m3_img" class="fa fa-picture-o" {notempty name="$row.m3_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m3_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m3_img_local" name="m3_img_local" value="{$row.m3_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m3_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m3_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m3_img_remote" name="m3_img_remote" value="{$row.m3_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m3_img_is_remote) OR empty($row.m3_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m3_img_is_remote" id="m3_img_is_remote" value="1" {if condition="isset($row.m3_img_is_remote) AND $row.m3_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm3_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m3_selimg">菜单三选中图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m3_selimg_local" {if condition="isset($row.m3_selimg_is_remote) AND $row.m3_selimg_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m3_selimg" class="nyroModal" rel="gal" href="{$row.m3_selimg_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m3_selimg" class="fa fa-picture-o" {notempty name="$row.m3_selimg_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m3_selimg_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m3_selimg_local" name="m3_selimg_local" value="{$row.m3_selimg_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m3_selimg_call_back')" size="30" hidefocus="true" nc_type="change_site_m3_selimg" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m3_selimg_remote" name="m3_selimg_remote" value="{$row.m3_selimg_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m3_selimg_is_remote) OR empty($row.m3_selimg_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m3_selimg_is_remote" id="m3_selimg_is_remote" value="1" {if condition="isset($row.m3_selimg_is_remote) AND $row.m3_selimg_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm3_selimg');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit" style="width: auto"><label><b>底部菜单四</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="site_url">菜单四显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="m4_show1" class="cb-enable {if condition='!isset($row.m4_show) OR $row.m4_show eq 1'}selected{/if}">是</label>
                        <label for="m4_show0" class="cb-disable {if condition='isset($row.m4_show) AND empty($row.m4_show)'}selected{/if}">否</label>
                        <input id="m4_show1" name="m4_show" value="1" type="radio" {if condition="!isset($row.m4_show) OR $row.m4_show eq 1"} checked="checked"{/if}>
                        <input id="m4_show0" name="m4_show" value="0" type="radio" {if condition="isset($row.m4_show) AND empty($row.m4_show)"} checked="checked"{/if}>
                    </div>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单四名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="m4_name" value="{$row.m4_name|default=''}" id="m4_name" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">尽量控制4个字符之内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">菜单四链接</label>
                </dt>
                <dd class="opt">
                    <select id="m4_path_key" name="m4_path_key" onclick="select_path(this);">
                        {volist name="$pages_list" id="vo"}
                        <option value="{$key}" data-showtext="{$vo.showtext|default='false'}" {if condition="!empty($row['m4_path_key']) AND $row['m4_path_key'] == $key"}selected{/if}>{$vo.title}</option>
                        {/volist}
                    </select>
                    <input type="text" name="m4_typeid" value="{$row.m4_typeid|default=''}" id="m4_typeid" style="width: 100px;display: none;" placeholder="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^0-9]/g,''));">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m4_img">菜单四默认图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m4_img_local" {if condition="isset($row.m4_img_is_remote) AND $row.m4_img_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m4_img" class="nyroModal" rel="gal" href="{$row.m4_img_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m4_img" class="fa fa-picture-o" {notempty name="$row.m4_img_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m4_img_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m4_img_local" name="m4_img_local" value="{$row.m4_img_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m4_img_call_back')" size="30" hidefocus="true" nc_type="change_site_m4_img" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m4_img_remote" name="m4_img_remote" value="{$row.m4_img_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m4_img_is_remote) OR empty($row.m4_img_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m4_img_is_remote" id="m4_img_is_remote" value="1" {if condition="isset($row.m4_img_is_remote) AND $row.m4_img_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm4_img');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="m4_selimg">菜单四选中图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_m4_selimg_local" {if condition="isset($row.m4_selimg_is_remote) AND $row.m4_selimg_is_remote == 1"}style="display: none;"{/if}>
                        <span class="show">
                            <a id="img_a_m4_selimg" class="nyroModal" rel="gal" href="{$row.m4_selimg_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_m4_selimg" class="fa fa-picture-o" {notempty name="$row.m4_selimg_local"}onmouseover="layer_tips=layer.tips('<img src={$row.m4_selimg_local|default=''} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="m4_selimg_local" name="m4_selimg_local" value="{$row.m4_selimg_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','m4_selimg_call_back')" size="30" hidefocus="true" nc_type="change_site_m4_selimg" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="m4_selimg_remote" name="m4_selimg_remote" value="{$row.m4_selimg_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($row.m4_selimg_is_remote) OR empty($row.m4_selimg_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="m4_selimg_is_remote" id="m4_selimg_is_remote" value="1" {if condition="isset($row.m4_selimg_is_remote) AND $row.m4_selimg_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'm4_selimg');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 108* 108 (像素) 的gif或jpg文件，图片最好在2M以内</p>
                </dd>
            </dl>
            {empty name="$is_eyou_authortoken"}
            <dl class="row"><dt class="tit" style="width: auto"><label><b>其他参数</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="copyright">版权信息</label>
                </dt>
                <dd class="opt">
                    <textarea rows="5" cols="60" id="copyright" name="copyright" style="height:50px;" placeholder="">{$row.copyright|default=''}</textarea>
                    <p class="notic"></p>
                </dd>
            </dl>
            {/empty}
            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(function(){
        select_path($('#m1_path_key'));
        select_path($('#m2_path_key'));
        select_path($('#m3_path_key'));
        select_path($('#m4_path_key'));
    });

    // 菜单链接
    function select_path(obj)
    {
        var pathkey = $(obj).val();
        var showtext = $(obj).find('option:selected').data('showtext');
        var showtextObj = $(obj).parent().find('input[type=text]');
        if (true == showtext) {
            if (5 == pathkey) {
                showtextObj.attr('placeholder', '文档ID');
            } else {
                showtextObj.attr('placeholder', '栏目ID');
            }
            showtextObj.show();
        } else {
            showtextObj.hide();
        }
    }

    // 判断输入框是否为空
    function checkForm(){
        layer_loading('正在处理');
        $('#post_form').submit();
    }

    function m1_img_call_back(fileurl_tmp)
    {
        $("#m1_img_local").val(fileurl_tmp);
        $("#img_a_m1_img").attr('href', fileurl_tmp);
        $("#img_i_m1_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m1_selimg_call_back(fileurl_tmp)
    {
        $("#m1_selimg_local").val(fileurl_tmp);
        $("#img_a_m1_selimg").attr('href', fileurl_tmp);
        $("#img_i_m1_selimg").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m2_img_call_back(fileurl_tmp)
    {
        $("#m2_img_local").val(fileurl_tmp);
        $("#img_a_m2_img").attr('href', fileurl_tmp);
        $("#img_i_m2_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m2_selimg_call_back(fileurl_tmp)
    {
        $("#m2_selimg_local").val(fileurl_tmp);
        $("#img_a_m2_selimg").attr('href', fileurl_tmp);
        $("#img_i_m2_selimg").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m3_img_call_back(fileurl_tmp)
    {
        $("#m3_img_local").val(fileurl_tmp);
        $("#img_a_m3_img").attr('href', fileurl_tmp);
        $("#img_i_m3_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m3_selimg_call_back(fileurl_tmp)
    {
        $("#m3_selimg_local").val(fileurl_tmp);
        $("#img_a_m3_selimg").attr('href', fileurl_tmp);
        $("#img_i_m3_selimg").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }
    
    function m4_img_call_back(fileurl_tmp)
    {
        $("#m4_img_local").val(fileurl_tmp);
        $("#img_a_m4_img").attr('href', fileurl_tmp);
        $("#img_i_m4_img").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }

    function m4_selimg_call_back(fileurl_tmp)
    {
        $("#m4_selimg_local").val(fileurl_tmp);
        $("#img_a_m4_selimg").attr('href', fileurl_tmp);
        $("#img_i_m4_selimg").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
    }
</script>

{include file="footer.htm" /}