{include file="public/layout" /}
<body class="rolecss">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>管理员 - 新增管理员</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="adminAdd" action="{:U('Admin/admin_add')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="user_name"><em>*</em>用户名</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="user_name" value="" id="user_name" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password"><em>*</em>登录密码</label>
                </dt>
                <dd class="opt">
                    <input type="password" name="password" value="" id="password" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="true_name">真实姓名</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="true_name" value="" id="true_name" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="mobile">手机号码</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="mobile" value="" id="mobile" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="email">Email邮箱</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="email" value="" id="email" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row"><dt class="tit"><label><b>管理员权限设置</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">权限角色组</label>
                </dt>
                <dd class="opt">
                    {foreach name="admin_role_list" item="role" key="k"}
                    <p><label><input type="radio" name="role_id" value="{$role.id}" {if condition="$role.id == $Request.param.role_id"} checked="checked"{/if} />{$role.name}</label>&nbsp;<a href="javascript:void;" data-url="{:U('AuthRole/edit', array('id'=>$role.id,'iframe'=>1))}" onclick="addRole(this);">[编辑]</a>&nbsp;&nbsp;<a href="javascript:void;" data-url="{:U('AuthRole/del')}" data-id="{$role.id}" onclick="delfun(this);">[删除]</a></p>
                    {/foreach}
                    <p><label style="color: #ff660f;"><input type="radio" name="role_id" value="{$role.id}" data-url="{:U('AuthRole/add', array('iframe'=>1))}" onclick="addRole(this);"/>自定义</label></p>
                </dd>
            </dl>
            {if condition="false"}
<!--             <dl class="row">
                <dt class="tit">
                    <label for="name">语言权限</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="language[]" value="cn" />简体中文</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="name">在线升级</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="online_update" value="1" />允许操作</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">信息权限</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="only_oneself" value="1" />只允许查看自己发表的信息</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">操作权限</label>
                </dt>
                <dd class="opt">
                    <p><label><input type="checkbox" id="select_cud" />完全控制</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="add" />添加信息</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="edit" />修改信息</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="del" />删除信息</label></p>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name"><em>*</em>功能权限</label>
                </dt>
                <dd class="opt">
                    <p>
                        <label><input type="checkbox" id="select_all_permission" />完全控制</label>
                    </p>

                    {foreach name="modules" item="vo"}
                      {foreach name="vo.child" item="vo2"}
                        {if condition="1 == $vo2['is_modules'] AND ! empty($auth_rule_list[$vo2.id])"}
                          {if condition="1002 == $vo2['id']"}
                            <div class="admin_poplistdiv">
                                <h2>{$vo2.name}</h2>
                                {if condition="! empty($arctypes)"}
                                <p>
                                    {foreach name="arctypes" item="arctype" key="k"}
                                    {if condition="isset($arctype_array[$arctype['id']])"}
                                    {if condition="$k>0"}
                                    <em class="arctype_bg expandable"></em>
                                    {else /}
                                    <em class="arctype_bg collapsable"></em>
                                    {php}$first_arctype_id = $arctype['id'];{/php}
                                    {/if}
                                    {/if}
                                    <label><input type="checkbox" class="arctype_cbox arctype_id_{$arctype.id}" name="permission[arctype][]" value="{$arctype.id}" />{$arctype.typename}</label>
                                    {/foreach}
                                </p>
                                
                                {foreach name="arctypes" item="arctype" key="k"}
                                {if condition="isset($arctype_array[$arctype['id']])"}
                                    <div class="arctype_child" id="arctype_child_{$arctype['id']}"{if condition="$first_arctype_id==$arctype['id']"} style="display: block;"{/if}>
                                    {foreach $arctype_array[$arctype['id']] as $item}
                                        <div class="arctype_child1">
                                            <label><input type="checkbox" class="arctype_cbox arctype_id_{$item.id}" name="permission[arctype][]" value="{$item.id}" data-pid="{$item.parent_id}" />{$item.typename}</label>
                                        </div>
                                        {if condition="isset($arctype_array[$item['id']])"}
                                        <div class="arctype_child2" id="arctype_child_{$item['id']}">
                                            <span class="button level1 switch center_docu"></span>
                                            {foreach $arctype_array[$item['id']] as $vo}
                                            <label><input type="checkbox" class="arctype_cbox" data-pid="{$vo.parent_id}" data-tpid="{$item.parent_id}" name="permission[arctype][]" value="{$vo.id}" />{$vo.typename}</label>
                                            {/foreach}
                                        </div>
                                        {/if}
                                    {/foreach}
                                    </div>
                                {/if}
                                {/foreach}
                                {/if}
                            </div>
                          {else /}
                            <div class="admin_poplistdiv">
                                <h2>{$vo2.name}</h2>
                                <p>
                                    {foreach name="auth_rule_list[$vo2.id]" item="rule"}
                                    <label><input type="checkbox" name="permission[rules][]" value="{$rule.id}" />{$rule.name}</label>
                                    {/foreach}
                                </p>
                            </div>
                          {/if}
                        {/if}
                      {/foreach}
                    {/foreach}
                    
                    {if condition="! empty($plugins)"}
                    <div class="admin_poplistdiv">
                        <h2>插件应用</h2>
                        <ul>
                            {foreach name="plugins" item="plugin"}
                            <li>
                                <label><input type="checkbox" name="permission[plugins][{$plugin.code}][code]" value="{$plugin.code}" />{$plugin.name}</label>
                                {php}$config = json_decode($plugin['config'], true);{/php}
                                {if condition="! empty($config['permission'])"}
                                <p style="padding-left:10px;">
                                    {foreach $config['permission'] as $index => $text}
                                    <label><input type="checkbox" name="permission[plugins][{$plugin.code}][child][]" value="{$index}" />{$text}</label>
                                    {/foreach}
                                </p>
                                {/if}
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    {/if}
                </dd>
            </dl>
            {/if}
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var admin_role_list = {$admin_role_list|json_encode};
    $(function(){
        $('#adminAdd input[type="checkbox"]').attr("disabled","disabled");

        $('#adminAdd input[name="role_id"]').bind('click', function(){
            changeRole($(this).val());
        });

        $('.arctype_bg').bind('click', function(){
            var acid = $(this).next().find('input').val(), input = 'arctype_child_' + acid;
            $('.arctype_child').hide();
            if( $(this).attr('class').indexOf('expandable') == -1 ){
                $(this).removeClass('collapsable').addClass('expandable');
            }else{
                $('.arctype_bg').removeClass('collapsable').addClass('expandable');
                $(this).removeClass('expandable').addClass('collapsable');
                $('#'+input).show();
            }
        });
        $('.arctype_cbox').bind('click', function(){
            var acid = $(this).val(), input = 'arctype_child_' + acid;
            var pid = $(this).data('pid');
            var tpid = $(this).data('tpid');
            if($(this).attr('checked')){
                if (0 < $('input[data-pid="'+pid+'"]:checked').length) {
                    $('.arctype_id_'+pid).attr('checked', 'checked');
                }
                if (0 < $('#arctype_child_'+tpid).find('input[type="checkbox"]:checked').length) {
                    $('.arctype_id_'+tpid).attr('checked', 'checked');
                }
                $('#'+input).find('input[type="checkbox"]').attr('checked', 'checked');
            }else{
                if (1 > $('input[data-pid="'+pid+'"]:checked').length) {
                    $('.arctype_id_'+pid).removeAttr('checked');
                }
                if (1 > $('#arctype_child_'+tpid).find('input[type="checkbox"]:checked').length) {
                    $('.arctype_id_'+tpid).removeAttr('checked');
                }
                $('#'+input).find('input[type="checkbox"]').removeAttr('checked');
            }
        });
        $('#select_cud').bind('click', function(){
            if($(this).attr('checked')){
                $('#adminAdd input[name^="cud"]').attr('checked', 'checked');
            }else{
                $('#adminAdd input[name^="cud"]').removeAttr('checked');
            }
        });

        $('#select_all_permission').bind('click', function(){
            if($(this).attr('checked')){
                $('#adminAdd input[name^="permission"]').attr('checked', 'checked');
            }else{
                $('#adminAdd input[name^="permission"]').removeAttr('checked');
            }
        });
        $('#adminAdd input[name^="permission"],#adminAdd input[name^="cud"]').bind('click', function(){
            hasSelectAll();
        });
    });

    function hasSelectAll(){
        var c = true;
        $('#adminAdd input[name^="permission"]').each(function(idx, ele){
            if(! $(ele).attr('checked')){
                c = false;
                return;
            }
        });
        if(c){
            $('#select_all_permission').attr('checked', 'checked');
        }else{
            $('#select_all_permission').removeAttr('checked');
        }

        var c1 = true;
        $('#adminAdd input[name^="cud"]').each(function(idx, ele){
            if(! $(ele).attr('checked')){
                c1 = false;
                return;
            }
        });
        if(c1){
            $('#select_cud').attr('checked', 'checked');
        }else{
            $('#select_cud').removeAttr('checked');
        }
    }

    function changeRole(value){
        $('#adminAdd input[name!="role_id"]').removeAttr('checked').removeAttr('disabled');

        if(value == "0"){
            $('#adminAdd input[name!="role_id"]').attr('checked', 'checked');
            $('#adminAdd input[name="online_update"]').removeAttr('checked');
            $('#adminAdd input[name="only_oneself"]').removeAttr('checked');
            return ;
        }
        for(var i in admin_role_list){
            var item = admin_role_list[i];
            if(item.id == value){
                if(item.language){
                    item.language.map(function(row){
                        $('#adminAdd input[name^="language"][value="'+row+'"]').attr('checked', 'checked');
                    });
                }

                if(item.online_update){
                    $('#adminAdd input[name="online_update"]').attr('checked', 'checked');
                };
                if(item.editor_visual){
                    $('#adminAdd input[name="editor_visual"]').attr('checked', 'checked');
                };
                if(item.only_oneself){
                    $('#adminAdd input[name="only_oneself"]').attr('checked', 'checked');
                };
                if(item.cud){
                    item.cud.map(function(row){
                        $('#adminAdd input[name^="cud"][value="'+row+'"]').attr('checked', 'checked');
                    });
                }

                if(item.permission){
                    for(var p in item.permission){
                        if(p == 'plugins'){
                            if(item.permission[p]){
                                for(var pluginId in item.permission[p]){
                                    $('#adminAdd input[name="permission['+p+']['+pluginId+'][code]"][value="'+pluginId+'"]').attr('checked', 'checked');
                                    if(item.permission[p][pluginId].child){
                                        item.permission[p][pluginId].child.map(function(row){
                                            $('#adminAdd input[name="permission['+p+']['+pluginId+'][child][]"][value="'+row+'"]').attr('checked', 'checked');
                                        });
                                    }
                                }
                            }
                        }else{
                            item.permission[p].map(function(row){
                                $('#adminAdd input[name="permission['+p+'][]"][value="'+row+'"]').attr('checked', 'checked');
                            });
                        }
                        
                    }
                }

                hasSelectAll();
                $('#adminAdd input[type="checkbox"]').attr('disabled', 'disabled');
                break;
            }
        }
    }

    function addRole(obj)
    {
        var url = $(obj).data('url');
        // iframe窗
        layer.open({
            type: 2,
            title: '自定义权限角色组',
            fixed: true, //不固定
            shadeClose: false,
            shade: 0.3,
            maxmin: false, //开启最大化最小化按钮
            area: ['90%', '90%'],
            content: url
        });
    }

    // 判断输入框是否为空
    function adsubmit(){
        if($('input[name=user_name]').val() == ''){
            showErrorMsg('用户名不能为空！');
            $('input[name=user_name]').focus();
            return false;
        }
        if($('input[name=password]').val() == ''){
            showErrorMsg('密码不能为空！');
            $('input[name=password]').focus();
            return false;
        }
        var role_id = $('input[name=role_id]:checked').val();
        if(role_id == '' || undefined == role_id){
            showErrorMsg('请选择权限角色组！');
            $('input[name=role_id]').focus();
            return false;
        }
        var a = [];
        $('input[name^=permission]').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            showErrorMsg('请具体分配权限！');
            return false;
        }

        layer_loading('正在处理');
        $('#adminAdd').submit();
    }
</script>

{include file="public/footer" /}