{include file="public/layout" /}
<body class="rolecss">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>管理员 - 编辑管理员</h3>
                <h5></h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="adminEdit" action="{:U('Admin/admin_edit')}" method="post">
        <input type="hidden" name="admin_id" value="{$info.admin_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="user_name">用户名</label>
                </dt>
                <dd class="opt">
                    {$info.user_name}
                    <input type="hidden" name="user_name" value="{$info.user_name}">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password">登录密码</label>
                </dt>
                <dd class="opt">
                    <input type="password" name="password" value="" id="password" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password">确认密码</label>
                </dt>
                <dd class="opt">
                    <input type="password" name="password2" value="" id="password2" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="true_name">真实姓名</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="true_name" value="{$info.true_name|default=''}" id="true_name" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="mobile">手机号码</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="mobile" value="{$info.mobile}" id="mobile" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="email">Email邮箱</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="email" value="{$info.email}" id="email" class="input-txt">
                    <p class="notic"></p>
                </dd>
            </dl>
            {if condition="$info.admin_id != $Think.session.admin_info.admin_id AND -1 == $Think.session.admin_info.role_id"}
            <dl class="row"><dt class="tit"><label><b>管理员权限设置</b></label></dt></dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">用户组</label>
                </dt>
                <dd class="opt">
                    <p><label><input type="radio" name="role_id" value="-1" {if condition="-1 == $info.role_id"}checked="checked"{/if} />超级管理员</label></p>
                    {foreach name="admin_role_list" item="role"}
                    <p>
                        <label><input type="radio" name="role_id" value="{$role.id}" {eq name="$role_info.id" value="$role.id"} checked="checked"{/eq} />{$role.name}</label>
                        <!-- &nbsp;<a href="javascript:void;" data-url="{:U('AuthRole/edit', array('id'=>$role.id,'iframe'=>1))}" onclick="addRole(this);">[编辑]</a>&nbsp;&nbsp;<a href="javascript:void;" data-url="{:U('AuthRole/del')}" data-id="{$role.id}" onclick="delfun(this);">[删除]</a> -->
                    </p>
                    {/foreach}
                    <p id="custom_role"><label><input type="radio" name="role_id" value="0"" disabled="disabled" /><a href="javascript:void(0);" data-url="{:U('AuthRole/add', array('iframe'=>1))}" onclick="addRole(this);" style="color: #ff660f;">自定义用户组</a></label></p>
                </dd>
            </dl>
            {/if}
            {if condition="false"}
<!--             <dl class="row">
                <dt class="tit">
                    <label for="name">语言权限</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="language[]" value="cn"{if condition="! empty($role_info.language) && in_array('cn', $role_info.language)"} checked="checked"{/if} />简体中文</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="name">在线升级</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="online_update" value="1"{eq name="$role_info.online_update" value="1"} checked="checked"{/eq} />允许操作</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">信息权限</label>
                </dt>
                <dd class="opt">
                    <label><input type="checkbox" name="only_oneself" value="1"{eq name="$role_info.only_oneself" value="1"} checked="checked"{/eq} />只允许查看自己发表的信息</label>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name">操作权限</label>
                </dt>
                <dd class="opt">
                    <p><label><input type="checkbox" id="select_cud"{if condition="! empty($role_info.cud) && count($role_info.cud)>=3"} checked="checked"{/if} />完全控制</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="add"{if condition="! empty($role_info.cud) && in_array('add', $role_info.cud)"} checked="checked"{/if} />添加信息</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="edit"{if condition="! empty($role_info.cud) && in_array('edit', $role_info.cud)"} checked="checked"{/if} />修改信息</label></p>
                    <p><label><input type="checkbox" name="cud[]" value="del"{if condition="! empty($role_info.cud) && in_array('del', $role_info.cud)"} checked="checked"{/if} />删除信息</label></p>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="name"><em>*</em>功能权限</label>
                </dt>
                <dd class="opt">
                    <p>
                        <label><input type="checkbox" id="select_all_permission" />完全控制</label>
                    </p>

                    {foreach name="modules" item="vo"}
                      {foreach name="vo.child" item="vo2"}
                        {if condition="1 == $vo2['is_modules'] AND ! empty($auth_rule_list[$vo2.id])"}
                          {if condition="1002 == $vo2['id']"}
                            <div class="admin_poplistdiv">
                                <h2>{$vo2.name}</h2>
                                {if condition="! empty($arctypes)"}
                                <p>
                                {foreach name="arctypes" item="arctype" key="k"}
                                    {if condition="isset($arctype_array[$arctype['id']])"}
                                    {if condition="$k>0"}
                                    <em class="arctype_bg expandable"></em>
                                    {else /}
                                    <em class="arctype_bg collapsable"></em>
                                    {php}$first_arctype_id = $arctype['id'];{/php}
                                    {/if}
                                    {/if}
                                    <label><input type="checkbox" class="arctype_cbox arctype_id_{$arctype.id}" name="permission[arctype][]" value="{$arctype.id}"{if condition="! empty($role_info.permission.arctype) && in_array($arctype.id, $role_info.permission.arctype)"} checked="checked"{/if} />{$arctype.typename}</label>
                                {/foreach}
                                </p>
                                
                                {foreach name="arctypes" item="arctype" key="k"}
                                {if condition="isset($arctype_array[$arctype['id']])"}
                                    <div class="arctype_child" id="arctype_child_{$arctype['id']}"{if condition="$first_arctype_id==$arctype['id']"} style="display: block;"{/if}>
                                    {foreach $arctype_array[$arctype['id']] as $item}
                                        <div class="arctype_child1">
                                            <label><input type="checkbox" class="arctype_cbox arctype_id_{$item.id}" name="permission[arctype][]" value="{$item.id}" data-pid="{$item.parent_id}" {if condition="! empty($role_info.permission.arctype) && in_array($item.id, $role_info.permission.arctype)"} checked="checked"{/if} />{$item.typename}</label>
                                        </div>
                                        {if condition="isset($arctype_array[$item['id']])"}
                                        <div class="arctype_child2" id="arctype_child_{$item['id']}">
                                            <span class="button level1 switch center_docu"></span>
                                            {foreach $arctype_array[$item['id']] as $vo}
                                            <label><input type="checkbox" class="arctype_cbox" name="permission[arctype][]" value="{$vo.id}" data-pid="{$vo.parent_id}" data-tpid="{$item.parent_id}" {if condition="! empty($role_info.permission.arctype) && in_array($vo.id, $role_info.permission.arctype)"} checked="checked"{/if} />{$vo.typename}</label>
                                            {/foreach}
                                        </div>
                                        {/if}
                                    {/foreach}
                                    </div>
                                {/if}
                                {/foreach}
                                {/if}
                            </div>
                          {else /}
                            <div class="admin_poplistdiv">
                                <h2>{$vo2.name}</h2>
                                <p>
                                    {foreach name="auth_rule_list[$vo2.id]" item="rule"}
                                    <label><input type="checkbox" name="permission[rules][]" value="{$rule.id}"{if condition="! empty($role_info.permission.rules) && in_array($rule.id, $role_info.permission.rules)"} checked="checked"{/if} />{$rule.name}</label>
                                    {/foreach}
                                </p>
                            </div>
                          {/if}
                        {/if}
                      {/foreach}
                    {/foreach}

                    {if condition="! empty($plugins)"}
                    <div class="admin_poplistdiv">
                        <h2>插件应用</h2>
                        <ul>
                            {foreach name="plugins" item="plugin"}
                            <li>
                                <label><input type="checkbox" name="permission[plugins][{$plugin.code}][code]" value="{$plugin.code}"{if condition="! empty($role_info.permission.plugins[$plugin['code']]) && isset($role_info.permission.plugins[$plugin['code']]['code'])"} checked="checked"{/if} />{$plugin.name}</label>
                                {php}$config = json_decode($plugin['config'], true);{/php}
                                {if condition="! empty($config['permission'])"}
                                <p style="padding-left:10px;">
                                    {foreach $config['permission'] as $index => $text}
                                    <label><input type="checkbox" name="permission[plugins][{$plugin.code}][child][]"{if condition="! empty($role_info.permission.plugins[$plugin['code']]['child']) && in_array($index, $role_info.permission.plugins[$plugin['code']]['child'])"} checked="checked"{/if} value="{$index}" />{$text}</label>
                                    {/foreach}
                                </p>
                                {/if}
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                    {/if}
                </dd>
            </dl>
            {/if}
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var admin_role_list = {$admin_role_list|json_encode};
    $(function(){
        {if condition="$role_info.id>0"}
        changeRole('{$role_info.id}');
        {/if}

        $('#adminEdit input[name="role_id"]').bind('click', function(){
            changeRole($(this).val());
        });

        $('.arctype_bg').bind('click', function(){
            var acid = $(this).next().find('input').val(), input = 'arctype_child_' + acid;
            $('.arctype_child').hide();
            if( $(this).attr('class').indexOf('expandable') == -1 ){
                $(this).removeClass('collapsable').addClass('expandable');
            }else{
                $('.arctype_bg').removeClass('collapsable').addClass('expandable');
                $(this).removeClass('expandable').addClass('collapsable');
                $('#'+input).show();
            }
        });
        $('.arctype_cbox').bind('click', function(){
            var acid = $(this).val(), input = 'arctype_child_' + acid;
            var pid = $(this).data('pid');
            var tpid = $(this).data('tpid');
            if($(this).attr('checked')){
                if (0 < $('input[data-pid="'+pid+'"]:checked').length) {
                    $('.arctype_id_'+pid).attr('checked', 'checked');
                }
                if (0 < $('#arctype_child_'+tpid).find('input[type="checkbox"]:checked').length) {
                    $('.arctype_id_'+tpid).attr('checked', 'checked');
                }
                $('#'+input).find('input[type="checkbox"]').attr('checked', 'checked');
            }else{
                if (1 > $('input[data-pid="'+pid+'"]:checked').length) {
                    $('.arctype_id_'+pid).removeAttr('checked');
                }
                if (1 > $('#arctype_child_'+tpid).find('input[type="checkbox"]:checked').length) {
                    $('.arctype_id_'+tpid).removeAttr('checked');
                }
                $('#'+input).find('input[type="checkbox"]').removeAttr('checked');
            }
        });
        $('#select_cud').bind('click', function(){
            if($(this).attr('checked')){
                $('#adminEdit input[name^="cud"]').attr('checked', 'checked');
            }else{
                $('#adminEdit input[name^="cud"]').removeAttr('checked');
            }
        });

        $('#select_all_permission').bind('click', function(){
            if($(this).attr('checked')){
                $('#adminEdit input[name^="permission"]').attr('checked', 'checked');
            }else{
                $('#adminEdit input[name^="permission"]').removeAttr('checked');
            }
        });
        $('#adminEdit input[name^="permission"],#adminEdit input[name^="cud"]').bind('click', function(){
            hasSelectAll();
        });
    });

    function changeRole(value){
        $('#adminEdit input[name!="role_id"]').removeAttr('checked').removeAttr('disabled');

        if(value == "0"){
            $('#adminEdit input[name!="role_id"]').attr('checked', 'checked');
            $('#adminEdit input[name="online_update"]').removeAttr('checked');
            $('#adminEdit input[name="only_oneself"]').removeAttr('checked');
            return ;
        }
        for(var i in admin_role_list){
            var item = admin_role_list[i];
            if(item.id == value){
                console.log(item);
                if(item.language){
                    item.language.map(function(row){
                        $('#adminEdit input[name^="language"][value="'+row+'"]').attr('checked', 'checked');
                    });
                }

                if(item.online_update){
                    $('#adminEdit input[name="online_update"]').attr('checked', 'checked');
                };
                if(item.editor_visual){
                    $('#adminEdit input[name="editor_visual"]').attr('checked', 'checked');
                };
                if(item.only_oneself){
                    $('#adminEdit input[name="only_oneself"]').attr('checked', 'checked');
                };
                if(item.cud){
                    item.cud.map(function(row){
                        $('#adminEdit input[name^="cud"][value="'+row+'"]').attr('checked', 'checked');
                    });
                }
                if(item.permission){
                    for(var p in item.permission){
                        if(p == 'plugins'){
                            if(item.permission[p]){
                                for(var pluginId in item.permission[p]){
                                    $('#adminEdit input[name="permission['+p+']['+pluginId+'][id]"][value="'+pluginId+'"]').attr('checked', 'checked');
                                    if(item.permission[p][pluginId].child){
                                        item.permission[p][pluginId].child.map(function(row){
                                            $('#adminEdit input[name="permission['+p+']['+pluginId+'][child][]"][value="'+row+'"]').attr('checked', 'checked');
                                        });
                                    }
                                }
                            }
                        }else{
                            item.permission[p].map(function(row){
                                $('#adminEdit input[name="permission['+p+'][]"][value="'+row+'"]').attr('checked', 'checked');
                            });
                        }
                    }
                }
                
                hasSelectAll();
                $('#adminEdit input[type="checkbox"]').attr('disabled', 'disabled');
                break;
            }
        }
    }


    function hasSelectAll(){
        var c = true;
        $('#adminEdit input[name^="permission"]').each(function(idx, ele){
            if(! $(ele).attr('checked')){
                c = false;
                return;
            }
        });
        if(c){
            $('#select_all_permission').attr('checked', 'checked');
        }else{
            $('#select_all_permission').removeAttr('checked');
        }

        var c = true;
        $('#adminEdit input[name^="cud"]').each(function(idx, ele){
            if(! $(ele).attr('checked')){
                c = false;
                return;
            }
        });
        if(c){
            $('#select_cud').attr('checked', 'checked');
        }else{
            $('#select_cud').removeAttr('checked');
        }
    }

    function addRole(obj)
    {
        var url = $(obj).data('url');
        // iframe窗
        layer.open({
            type: 2,
            title: '自定义用户组',
            fixed: true, //不固定
            shadeClose: false,
            shade: 0.3,
            maxmin: false, //开启最大化最小化按钮
            area: ['90%', '90%'],
            content: url
        });
    }

    function custom_role(str)
    {
        $('#custom_role').before(str);
    }

    // 判断输入框是否为空
    function adsubmit(){
        var password = $('#password').val();
        var password2 = $('#password2').val();
        if (password != '' || password2 != '') {
            if (password != password2) {
                showErrorMsg('两次密码输入不一致！');
                $('input[name=password]').focus();
                return false;
            }
        }

        layer_loading('正在处理');
        $('#adminEdit').submit();
    }
</script>

{include file="public/footer" /}