{include file="header.htm" /}
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="bar.htm" /}
    <form class="form-horizontal" id="post_form" action="{:weapp_url('Wechat/Wechat/config_edit')}" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="url">服务器地址(URL)</label>
                </dt>
                <dd class="opt">
                    {$field.apiurl}
                    <a href="javascript:void(0);" onclick="showtext('apiurl');" class="ui-btn blue apiurl" data-clipboard-text="{$field.apiurl}">复制URL</a>
                    <span class="err"></span>
                    <p class="">请登录微信公众平台-【开发】-【基本配置】 - 写入服务器地址(URL)</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="url"><em>*</em>令牌(Token)</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="w_token" placeholder="" value="{$field.w_token}" id="w_token" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台-【开发】-【基本配置】</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>公众号名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="wxname" value="{$field.wxname}" id="wxname" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台查看</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>公众号原始id</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="wxid" value="{$field.wxid}" id="wxid" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台查看</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>微信号</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="weixin" value="{$field.weixin}" id="weixin" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台查看</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>开发者ID(AppID)</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="appid" value="{$field.appid}" id="appid" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台-【开发】-【基本配置】</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>开发者密码(AppSecret)</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="appsecret" value="{$field.appsecret}" id="appsecret" class="input-txt">
                    <span class="err"></span>
                    <p class="notic">请登录微信公众平台-【开发】-【基本配置】</p>
                </dd>
            </dl>
            <dl class="row none">
                <dt class="tit">
                    <label for="headerpic_local">上传头像</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_headerpic_local" {neq name="$field.headerpic_is_remote" value="0"}style="display: none;"{/neq}>
                        <span class="show">
                            <a id="img_a_headerpic" class="nyroModal" rel="gal" href="{$field.headerpic_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_headerpic" class="fa fa-picture-o" {notempty name="$field.headerpic_local"}onmouseover="layer_tips=layer.tips('<img src={$field.headerpic_local} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="headerpic_local" name="headerpic_local" value="{$field.headerpic_local}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','headerpic_img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="headerpic_remote" name="headerpic_remote" value="{$field.headerpic_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($field.headerpic_is_remote) OR empty($field.headerpic_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="headerpic_is_remote" id="headerpic_is_remote" value="1" {if condition="isset($field.headerpic_is_remote) AND $field.headerpic_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'headerpic');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 200 * 200 (像素) 的jpg或gif文件</p>
                </dd>
            </dl>
            <dl class="row none">
                <dt class="tit">
                    <label for="qr_local">上传二维码</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_qr_local" {neq name="$field.qr_is_remote" value="0"}style="display: none;"{/neq}>
                        <span class="show">
                            <a id="img_a_qr" class="nyroModal" rel="gal" href="{$field.qr_local|default='javascript:void(0);'}" target="_blank">
                                <i id="img_i_qr" class="fa fa-picture-o" {notempty name="$field.qr_local"}onmouseover="layer_tips=layer.tips('<img src={$field.qr_local} class=\'layer_tips_img\'>',this,{tips: [1, '#fff']});"{/notempty} onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="qr_local" name="qr_local" value="{$field.qr_local|default=''}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','weapp','qr_img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="qr_remote" name="qr_remote" value="{$field.qr_remote|default=''}" placeholder="http://" class="input-txt" {if condition="!isset($field.qr_is_remote) OR empty($field.qr_is_remote)"}style="display: none;"{/if}>
                    &nbsp;
                    <label><input type="checkbox" name="qr_is_remote" id="qr_is_remote" value="1" {if condition="isset($field.qr_is_remote) AND $field.qr_is_remote == 1"}checked="checked"{/if} onClick="clickRemote(this, 'qr');">远程图片</label>
                    <span class="err"></span>
                    <p class="notic">建议尺寸 258 * 258 (像素) 的jpg或gif文件</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title">微信号类型</label>
                </dt>
                <dd class="opt"> 
                    <select name="type">
                        {volist name="wechat_type" id="vo"}
                        <option value="{$key}" {eq name="key" value="$field.type"}selected{/eq}>{$vo}</option>
                        {/volist}
                    </select>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
   <!--          <dl class="row">
                <dt class="tit">
                    <label>微信接入</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="wait_access1" class="cb-enable {if condition='isset($field.wait_access) AND $field.wait_access eq 1'}selected{/if}">是</label>
                        <label for="wait_access0" class="cb-disable {if condition='!isset($field.wait_access) OR empty($field.wait_access)'}selected{/if}">否</label>
                        <input id="wait_access1" name="wait_access" value="1" type="radio" {if condition="isset($field.wait_access) AND $field.wait_access eq 1"} checked="checked"{/if}>
                        <input id="wait_access0" name="wait_access" value="0" type="radio" {if condition="!isset($field.wait_access) OR empty($field.wait_access)"} checked="checked"{/if}>
                    </div>
                    <p class="notic"></p>
                </dd>
            </dl> -->
            <div class="bot">
                <input type="hidden" name="id" value="{$field.id}">
                <a href="JavaScript:void(0);" onclick="formSubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        
        $("#post_form").validate({
            debug: false, //调试模式取消submit的默认提交功能   
            focusInvalid: false, //当为false时，验证无效时，没有焦点响应  
            onkeyup: false,   
            submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form 
                layer_loading('正在处理');  
                form.submit();   //提交表单   
            },  
            ignore:":button",   //不验证的元素
            rules:{
                w_token:{
                    required:true
                },
                wxname:{
                    required:true
                },
                appsecret:{
                    required:true
                },
                wxid:{
                    required:true
                },
                weixin:{
                    required:true
                },
                appid:{
                    required:true
                },
                appsecret:{
                    required:true
                }
            },
            messages:{
                w_token:{
                    required:"请填写token"
                },
                wxname:{
                    required:"请填写公众号名称"
                },
                wxid:{
                    required:"请填写公众号原始id"
                },
                weixin:{
                    required:"请填写微信号"
                },
                appid:{
                    required:"请填写appid"
                },
                appsecret:{
                    required:"请填写AppSecret"
                }
            }
        });
    });

    // 判断输入框是否为空
    function formSubmit(){
        $('#post_form').submit();
    }

    function headerpic_img_call_back(fileurl_tmp)
    {
      $("#headerpic_local").val(fileurl_tmp);
      $("#img_a_headerpic").attr('href', fileurl_tmp);
      $("#img_i_headerpic").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }

    function qr_img_call_back(fileurl_tmp)
    {
      $("#qr_local").val(fileurl_tmp);
      $("#img_a_qr").attr('href', fileurl_tmp);
      $("#img_i_qr").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
</script>
<script type="text/javascript" src="__SKIN__/js/clipboard.min.js"></script>
<script type="text/javascript">
    function showtext(classname){
        var clipboard1 = new Clipboard("."+classname);clipboard1.on("success", function(e) {layer.msg("复制成功");});clipboard1.on("error", function(e) {layer.msg("复制失败！请手动复制", {icon:2});}); 
    }
</script>
{include file="footer.htm" /}