{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            点击链接观看使用文档：<a href="http://note.youdao.com/noteshare?id=f7d5982717591717b655959b524d1716" target="_blank">http://note.youdao.com/noteshare?id=f7d5982717591717b655959b524d1716</a>
        </div>
    </div>
</div>
{include file="footer.htm" /}